<h1>Editing post</h1>

<% form_for(@post, :html => {:multipart => true}) do |f| %>
  <%= f.error_messages %>
  <%= render :partial => 'form', :locals => {:f => f} %>

<hr/>
  <table>
  <% for picture in @post.pictures %>
    <% next if picture.parent_id %>
    <% fields_for(picture) do |p| -%>
     <tr>
      <td><%= image_tag(picture.public_filename(:thumb)) %></td>
      <td><%= p.text_field :caption, :index => picture.id %></td>
      <td><%= check_box_tag "picture[#{picture.id}][delete]" %></td>
     </tr>
    <% end %>
  <% end %>

  <% fields_for(:newpicture) do |p| -%>
    <% 1.upto(10) do %>
     <%= hidden_field_tag 'newpicture[][id]', '' %>
     <tr>
      <td><label for="file">File:</label></td>
      <td><%= p.file_field :uploaded_data, :index => '' %></td>
     </tr>
     <tr>
      <td><label for="caption">Caption:</label></td>
      <td><%= p.text_field :caption, :index => '' %></td>
     </tr>
    <% end %>
  <% end %>
  </table>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @post %> |
<%= link_to 'Back', posts_path %>
